<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration scan="true" scanPeriod="30 seconds" debug="false">

	<appender name="R" class="ch.qos.logback.core.ConsoleAppender">
		<!-- 格式化输出 : %d表示日期, %-5level : 级别从左显示5个字符宽度%msg : 日志消息, %n是换行符 -->
		<encoder>
			<!-- 15-09-21 15:23:40 [INFO ] (Test.java:60) - This is a test Logger Message. -->
			<pattern>%d{yyyy-MM-dd HH:mm:ss} [%-5level] \(%F:%L\) - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- 日志输出级别 -->
	<root level="INFO">
		<appender-ref ref="R" />
	</root>

	<!-- 配置的日志级别 -->
	<!-- 
	<logger name="com.aegean.web.interceptor" level="DEBUG" />
	<logger name="org.apache.commons.beanutils" level="INFO" />
	<logger name="org.apache.shiro" level="INFO" />
	 -->
</configuration>